---
import BlogLayout from "../layouts/BlogLayout.astro";

const posts = await Astro.glob("./blog/*");
posts.sort((a, b) => b.frontmatter.date.localeCompare(a.frontmatter.date));
---

<BlogLayout home>
  <h1>Latest</h1>
  <ul>
    {posts.map((post) => {
      const { title, date } = post.frontmatter
      return (
        <li>
          <a href={post.url}>{title}</a> - {date}
        </li>
      )
    })}
  </ul>
</BlogLayout>
