---
---

<div>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.7.1.min.js"
  >

  </script>
  <style>
    body {
      text-align: center;
      background: rgb(0, 175, 241);
      animation: bgColor 25s infinite linear;
      font-family: sans-serif;
      font-weight: 100;
      color: black;
    }

    @keyframes bgColor {
      0% {
        background-color: #ff000080;
      }
      10% {
        background-color: #ff800080;
      }
      20% {
        background-color: #ffff0080;
      }
      30% {
        background-color: #80ff0080;
      }
      40% {
        background-color: #00ff0080;
      }
      50% {
        background-color: #00ff8080;
      }
      60% {
        background-color: #00ffff80;
      }
      70% {
        background-color: #0080ff80;
      }
      80% {
        background-color: #0000ff80;
      }
      90% {
        background-color: #8000ff80;
      }
      100% {
        background-color: #ff000080;
      }
    }

    h1 {
      color: rgb(0, 0, 0, 0.7);
      font-weight: 100;
      font-size: 40px;
      margin: 40px 0px 20px;
    }

    #clockdiv {
      font-family: sans-serif;
      color: rgb(255, 255, 255, 0.8);
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
    }

    #clockdiv > div {
      padding: 10px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.15);
      display: inline-block;
    }

    #clockdiv div > span {
      padding: 15px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.25);
      display: inline-block;
    }

    .smalltext {
      padding-top: 5px;
      font-size: 16px;
    }

    #progress-bar {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #progress-bar .line {
      height: 15px;
      background: rgb(0, 0, 0, 0.8);
      border-radius: 7px;
      position: relative;
    }

    #progress-bar .label {
      font-size: 30px;
    }

    #progress-bar > .line > span {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: white;
      border-radius: 10px;
    }

    @keyframes animationLoaded {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }

    #next-percent-time {
      padding-top: 20px;
      font-size: 20px;
    }

    #num-repeats {
      padding-top: 20px;
      font-size: 20px;
    }

    #next-n-percent-time {
      padding-top: 20px;
      font-size: 20px;
    }
  </style>
  <link rel="shortcut icon" href="/assets/heart-128x128.png" type="image/x-icon"
  />
  <title>There's someone behind you but don't look!</title>

  <h1>Countdown</h1>

  <div id="clockdiv">
    <div>
      <span class="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>

  <div id="progress-bar">
    <div class="label" data-count="100">100%</div>
    <div class="line" style="width:500px">
      <span></span>
    </div>
  </div>

  <div id="next-percent-time"></div>

  <div id="num-repeats"></div>

  <div id="next-n-percent-time"></div>

  <script is:inline src="/assets/countdown.js">

  </script>
</div>
