---
interface Props {
  frontmatter: {
    title: string;
    date: string;
  };
}
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kevin Wu's blog." />
    <meta name="author" content="Kevin Wu" />
    <meta name="viewport" content="width=device-width" />
    <title>{frontmatter?.title || "Kevin Wu's Blog"}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
    <script
      async
      defer
      data-domain="kevinniuwu.com"
      src="https://data.kev3u.com/js/pa.js"></script>
    <style is:global>
      .blog-link,
      .blogpost a {
        @apply text-link underline visited:text-linkRead hover:cursor-pointer;
      }

      .blogpost {
        h1 {
          @apply text-3xl font-bold;
        }
        h2 {
          @apply text-2xl;
        }
        h3 {
          @apply text-xl;
        }
        h4 {
          @apply text-lg;
        }

        h1,
        h2,
        h3,
        h4 {
          @apply mt-8 mb-4 text-accent;
        }

        hr {
          @apply my-8;
        }

        ul,
        ol {
          @apply ml-4 list-inside;
        }

        ol {
          @apply list-decimal;
        }

        ul {
          @apply list-disc;
        }

        p,
        pre,
        table {
          @apply mt-4;
        }

        pre {
          @apply text-sm;
        }

        li p {
          @apply mt-0 inline-block;
        }

        th,
        td {
          @apply px-2;
        }

        th {
          @apply border-b-2 border-gray-400;
        }

        img {
          @apply mt-5 ml-auto mr-auto w-3/4 min-w-[300px];
        }

        video {
          @apply mt-5 ml-auto mr-auto min-w-[300px];
        }

        .astro-code {
          @apply -mx-10 p-10;
        }
      }
    </style>
  </head>

  <body class="max-w-2xl px-8 pb-8 m-auto bg-background text-text text-lg">
    <div class="mt-2">
      <a href="/blog" class="blog-link"> Kevin Wu's Blog</a>
      <a href="/" class="float-right blog-link">Home</a>
    </div>
    <article class="blogpost">
      {frontmatter?.date && <p class="-mb-7 font-mono">{frontmatter.date}</p>}
      {frontmatter?.title && <h1>{frontmatter.title}</h1>}
      <slot />
    </article>
  </body>
</html>
