---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kevin Wu's blog." />
    <meta name="author" content="Kevin Wu" />
    <meta name="viewport" content="width=device-width" />
    <title>Kevin Wu's Blog</title>
    <script
      async
      defer
      data-domain="kevinniuwu.com"
      src="https://data.kev3u.com/js/pa.js"
    >

    </script>
  </head>
  <body class="max-w-2xl px-8 pb-8 m-auto bg-background text-text text-lg">
    <div class="mt-2">
      <span class="font-bold">Kevin Wu's Blog</span>
      <a href="/" class="float-right text-link underline visited:text-linkRead"
        >Home
      </a>
    </div>
    <slot></slot>
  </body>
</html>
