---
import "../styles/fonts.css";

export interface Props {
  title: string;
  bodyClass: string;
}

const { title, bodyClass } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kevin Wu's personal site." />
    <meta name="author" content="Kevin Wu" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/inter/InterVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/inter/InterVariable-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <script
      async
      defer
      data-domain="kevinniuwu.com"
      src="https://data.kev3u.com/js/pa.js"
    >

    </script>

    <slot name="head" />
  </head>

  <body class={bodyClass || ""}>
    <slot />
  </body>
</html>
